# Timesheet App production env (VM101)
SDB_PUBLIC_URL=http://192.168.1.19
TIMESHEET_PORT=5180

# After Cloudflare tunnel / public DNS:
# SDB_PUBLIC_URL=https://supadupabase.whitelynx.co.nz
# SDB_AUTH_URL=https://supadupabase.whitelynx.co.nz
# SDB_DATA_URL=https://supadupabase.whitelynx.co.nz
# SDB_MAIL_URL=https://supadupabase.whitelynx.co.nz
